<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item1</key>
	<string>14</string>
	<key>item2</key>
	<string>15</string>
	<key>item3</key>
	<string>16</string>
	<key>item4</key>
	<string>17</string>
	<key>item5</key>
	<string>18</string>
	<key>item6</key>
	<string>19</string>
</dict>
</plist>
