<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item1</key>
	<dict>
		<key>number</key>
		<integer>14</integer>
		<key>price</key>
		<real>4.99</real>
	</dict>
	<key>item2</key>
	<dict>
		<key>number</key>
		<integer>15</integer>
		<key>price</key>
		<real>4.99</real>
	</dict>
	<key>item3</key>
	<dict>
		<key>number</key>
		<integer>16</integer>
		<key>price</key>
		<real>4.99</real>
	</dict>
	<key>item4</key>
	<dict>
		<key>number</key>
		<integer>17</integer>
		<key>price</key>
		<real>4.99</real>
	</dict>
	<key>item5</key>
	<dict>
		<key>number</key>
		<integer>18</integer>
		<key>price</key>
		<real>4.99</real>
	</dict>
	<key>item6</key>
	<dict>
		<key>number</key>
		<integer>19</integer>
		<key>price</key>
		<real>4.99</real>
	</dict>
</dict>
</plist>
